# Entorno virtual de python 
venv/
env/
ENV/

# Cache y archivos compilados de python
__pycache__/
*.py[cod]
*$py.class

# Base de datos SQLite local
*.db
*.sqlite3

# Variables de entorno secretas y contraseñas
.env

# Archivos de configuracion de editores/IDEs
.vscode/
.idea/